/* 欢迎块 */
.welcome-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(40deg, rgb(58, 58, 235), cyan);
  padding: 20px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

/* 欢迎内容统一样式 */
.welcome-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 40px;
}

/* 人格类型块 */
.personality-type-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 225px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

/* 人格类型块内容统一样式 */
.personality-type-block-content {
  margin: 0 20px
}

/* 人格图片样式 */
.istp-img-style {
  height: 200px;
  animation: swing 2s ease-in-out infinite;
}

/* 去掉a标签的after伪类样式 */
.personality-link::after {
  display: none !important;
}

/* 左右循环摆动动画 */
@keyframes swing {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

/* 技能块 */
.tech-block {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column; 
  transition: 0.3s ease-in-out;
}

/* 技术栈标题 */
.tech-title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto 30px;
  color: #333;
  text-align: center;
}

/* 技能容器 */
.tech-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* justify-content: center; */
  margin: 20px auto;
}

/* 技能标签样式 */
.skill-tag {
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f5f5f5;
  border: 3px solid #e8e8e8;
}

.skill-tag::after {
  display: none !important;
}

/* 技能标签样式-鼠标悬浮 */
.skill-tag:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  /* 向上移动 */
  transform: translateY(-5px);
}

/* 技能图标样式 */
.skill-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* 个人职业生涯纪录块 */
.career-block {
  /* padding: 20px; */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  transition: 0.3s ease-in-out;
}

/* 个人职业生涯纪录内容块 */
.career-content {
  width: 100%;
  max-width: 600px;
  margin: 30px auto auto;
}

/* 职业生涯标题 */
.career-title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto 30px;
  color: #333;
  text-align: center;
}

/* 时间线容器 */
.timeline-container {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

/* 自定义时间线 */
.custom-timeline {
  padding-left: 40px;
}

/* 时间线项 */
.timeline-item {
  /* position: relative; */
  margin-bottom: 0px;
  height: 100px;
}

/* 时间线连接线 */
.timeline-item .ant-timeline-item-tail {
  height: 100%;
  top: 20px;
  left: 19px;
  width: 21px;
  background-color: #e8e8e8;
}

/* 调整时间线项的位置 */
.timeline-item .ant-timeline-item-content {
  padding-left: 0px;
}

/* 时间线节点 */
.timeline-item .ant-timeline-item-head {
  width: 40px;
  /* height: 40px; */
  border-radius: 50%;
  background-color: #000;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

/* 时间线节点 - 完成状态 */
.timeline-item .ant-timeline-item-head[data-status="filled"] {
  background-color: #000;
}

/* 时间线节点 - 默认状态 */
.timeline-item .ant-timeline-item-head[data-status="default"] {
  background-color: #fff;
  border: 5px solid #e8e8e8;
}

/* 时间线内容 */
.timeline-content {
  padding: 0 0 0 20px;
}

/* 时间线标题 */
.timeline-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* 时间线描述 */
.timeline-description {
  font-size: 18px;
  color: #666;
  margin-left: 0;
}

/* 联系我块 */
.contact-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column; 
  gap: 20px;
  transition: 0.3s ease-in-out;
}

/* 联系我内容 */
.contact-info {
  display: flex;
  flex-direction: row;
  color: #333;
  /* line-height: 40px; */
  gap: 20px;
}

/* 个人简单背景 */
.background-block {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column; 
  gap: 20px;
  transition: 0.3s ease-in-out;
}

/* 个人简单背景标题 */
.background-title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto 30px;
  color: #000000;
  text-align: center;
}

/* 个人简单背景内容 */
.background-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

/* 个人简单背景单项 */
.background-item {
  text-align: center;
  width: 50%
}

/* 个人简单背景项时间 */
.background-item-time {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}

/* 个人简单背景项标题 */
.background-item-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.background-item-desc {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}


/* 响应式样式 */
@media (max-width: 768px) {
  .personality-type-code {
    font-size: 30px !important;
  }
  .personality-type-block-content {
    padding: 0 auto;
}
  .personality-type-name {
    font-size: 20px !important; 
}
}


/* 块鼠标浮动 */
.welcome-block:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.career-block:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.contact-block:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.background-block:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.tech-block:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.personality-type-block:hover {
  cursor: pointer;
  transform: translateY(-5px);
}