/* 欢迎块 */
.welcome-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(40deg, rgb(58, 58, 235), cyan);
  padding: 20px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 欢迎内容统一样式 */
.welcome-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 40px;
}

/* 人格类型块 */
.personality-type-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 225px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 人格类型块内容统一样式 */
.personality-type-block-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px
}

/* 人格图片样式 */
.istp-img-style {
  height: 200px;
  animation: swing 2s ease-in-out infinite;
}

/* 去掉a标签的after伪类样式 */
.personality-link::after {
  display: none !important;
}

/* 左右循环摆动动画 */
@keyframes swing {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

/* 响应式样式 */
@media (max-width: 768px) {
  .personality-type-code {
    font-size: 30px !important;
  }
  .personality-type-block-content {
    padding: 0 10px;
}
  .personality-type-name {
    font-size: 20px !important; 
}
}